
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We Help - API </title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <span class="icon">
                                <i class="fa fa-heart"></i>
                            </span>
                            <span>We Help</span>
                        </a>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/douglas-martins/we_help_api">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>View Source</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            API RESTful for study Python + Flask
                        </h1>
                        <h2 class="subtitle">
                            Modelo relacional do BD para um sistema que tem como objetivo ajudar pessoas que sentem a necessidade de conversar e expor seus sentimentos com uma outra pessoa, de maneira que se sintam numa zona segura para compartilhar tudo que achar necessário.

                            Dentro do sistema, vai existir os acolhedores que serão pessoas cadastradas e selecionadas por uma série de critérios pré-estabelecidos devido a possível fragilidade das pessoas que estão procurando ajuda.

                            Para facilitar o encaminhamento das pessoas que precisam de  especialistas, terá também uma lista com contatos de instituições que possam ajudar estas pessoas em determinadas situações que se encontram.

                            Com o intuito de uma melhor organização, tera uma lista de acolhedores disponíveis no momento para entrar um chat, onde o mesmo terá um histórico registrando o que foi conversado entre o acolhedor e o usuário anônimo que está procurando ajuda.
                        </h2>
                    </div>
                </div>
            </div>

        <div class="hero-footer">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    {#            <span>Made by Douglas Martins <i class="far fa-copyright"></i>  2019</span>#}
                    <h3 class="subtitle">Made by Douglas Martins 2019</h3>

                </div>
            </div>
        </div>

    </section>
      <div class="columns is-mobile is-centered">
          <div class="control">
          </div>
      </div>
</body>

</html>